<!-- テンプレート -->
<!--
<h1>応募内容 確認</h1>
-->
<div class="div_conte" >
		<h2 class="h4_td_title">応募内容 確認</h2>
		<br />
</div>
  <form name="form1" method="POST"  action="./">
		<input type="hidden"  value="user_oubo_add" name="fn" />
		<input type="hidden"  value="<?php echo($tpl['dat']['id']); ?>" name="id" />
<div id="id_input_form" style="">
	<table class="table table-striped" border="1">
	<thead>
	<tr>
		<th>項目</th>
		<th> </th>
	</tr>
	</thead>
	<tr>
		<th>タイトル</th>
		<td><?php echo($tpl['dat']['title']); ?></td>
	</tr>
	<tr>
		<th>募集終了日</th>
		<td><?php echo($tpl['dat']['bosyu_end']); ?></td>
	</tr>
	<tr>
		<th>報酬金額</th>
		<td><?php echo($tpl['housyu']); ?></td>
	</tr>
	<tr>
		<th>契約期間</th>
		<td><?php echo($tpl['keiyaku_span_name']); ?></td>
	</tr>
	<tr>
		<th>募集人数</th>
		<td><?php echo($tpl['dat']['bosyu_num']); ?> 人</td>
	</tr>

	</table>
	<!-- -->
	<p style="font-size: 16px;">募集内容:</p>
	<div style="max-width : 500px;  padding:10px; ;border: solid 1px black;"><?php echo(nl2br($tpl['dat']['naiyou'])); ?>
	</div>
	<hr />
	<div class="input-group" style="max-width : 500px;">
		<h4 style="font-size: 16px; float:left ;">・報酬金額: <?php echo( $tpl['dat']['price']); ?> 円</h4>  
	</div>
	<input type="hidden" name="price" value="<?php echo( $tpl['dat']['price']); ?>" />

	<!--
	<div style=""><?php echo( $tpl['dat']['price']); ?>
	</div>

	-->

	<br />
	<p style="font-size: 16px;">・応募 内容:</p>
	<div style="max-width : 500px;">
	<div style="max-width : 500px;  padding:10px; ;border: solid 1px black; background: #ffebcd; ">
		<?php echo(nl2br($tpl['dat']['oubo_text'])); ?>
	</div>
	<input type="hidden" name="oubo_text" value="<?php echo($tpl['dat']['oubo_text']); ?>" />
	<br />
		
	<input type="submit" class="btn btn-lg btn-primary" value="上記内容で 登録する" /><br />
  </form>
</div>
  <br />

