<!-- テンプレート -->
<!--
<h1>募集内容　確認 </h1>
-->
<div class="div_conte_w" style="text-align: center; ">
    <h2 class="h4_td_title">募集内容　確認</h2>
 </div>

  <form name="form1" method="POST"  action="./">
    <input type="hidden"  value="user_bosyu_add" name="fn" /><br />
<div id="id_input_form" style="">
	<table class="table table-striped" border="1">
	<thead>
	<tr>
		<th>項目</th>
		<th> </th>
	</tr>
	</thead>
	<tr>
		<th>タイトル</th>
		<td><?php echo($tpl['title']); ?></td>
	</tr>
	<input type="hidden" name="title"  value="<?php echo($tpl['title']); ?>" />
	<tr>
		<th>募集終了日</th>
		<td><?php echo($tpl['bosyu_end']); ?></td>
	</tr>
	<!--
	<input type="hidden" name="bosyu_end_kbn"  value="<?php echo($tpl['bosyu_end_kbn']); ?>" />
	-->
	<input type="hidden" name="bosyu_end"  value="<?php echo($tpl['bosyu_end']); ?>" />
	<tr>
		<th>報酬金額</th>
		<td><?php echo($tpl['housyu']); ?></td>
	</tr>
	<input type="hidden" name="price_kbn"  value="<?php echo($tpl['price_kbn']); ?>" />
	<tr>
		<th>契約期間</th>
		<td><?php echo($tpl['keiyaku_span_name']); ?></td>
	</tr>
	<input type="hidden" name="keiyaku_span"  value="<?php echo($tpl['keiyaku_span']); ?>" />
	<tr>
		<th>募集人数</th>
		<td><?php echo($tpl['bosyu_num']); ?></td>
	</tr>
	<input type="hidden" name="bosyu_num"  value="<?php echo($tpl['bosyu_num']); ?>" />

	</table>
	<br />	
	<!-- -->
	<!-- -->
	<p style="font-size: 16px;">募集内容:</p>
	<div style="max-width : 500px;  padding:10px; ;border: solid 1px black;"><?php echo(nl2br($tpl['naiyou'])); ?>
	</div>
	<input type="hidden" name="naiyou"  value="<?php echo($tpl['naiyou']); ?>" />
	<br />
	<input type="submit" class="btn btn-lg btn-primary" value="上記内容で登録する" /><br />
  </form>
  <hr />
  <a href="#" onClick="javascript:history.back();" class="btn btn-default"> 戻る</a><br>

</div>
  <br />

