
<!--
  <h1>管理者 TOP</h1><br />
-->
  <div class="div_conte" >
      <h2 class="h4_td_title">管理者 TOP</h2>
      <br />
  </div>
  <div class="jumbotron" style="text-align: center;">
<!--
  <h1> do action!</h1>
 -->
  <p>管理者の機能TOPページになります。</p>
  <!-- 
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  -->
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
<!--
<ul>
  <li><a href="./?fn=admin_user_list">User-List</a></li>
  <li>mail setting</li>
</ul>
<br />
<ul>
  <li><a href="./?fn=admin_list">管理 User</a></li>
  <li><a href="./?fn=admin_logout">管理 ログアウト</a></li>
</ul>
 -->

